<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhji.location.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:name=".SmartLocationApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".views.MainActivity$GoogleMapsUpdateReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.zhji.location.app.service.ADD_NEW_LOCATION_ACTION" />
                <action android:name="com.zhji.location.app.service.REMOVE_LOCATION_ACTION" />
            </intent-filter>
        </receiver>

        <service android:name=".services.SmartLocationService" />
        <service android:name=".services.ActivityRecognitionIntentService" />
        <service
            android:name=".services.GeofenceIntentService"
            android:exported="false" />
    </application>

</manifest>